:root {
  --md-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --md-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
  --md-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
  --md-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);

  --md-duration-short-2: 100ms;
  --md-duration-short-4: 200ms;
  --md-duration-medium-2: 300ms;
  --md-duration-long-2: 500ms;

  --vl-transition-state: var(--md-duration-medium-2) var(--md-easing-emphasized);
}
